.dashboard-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.dashboard-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 20px;
}

.dashboard-header h2 {
  margin: 0;
}

.dashboard-search-input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.dashboard-profile-image {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.dashboard-cards-container {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.dashboard-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 500px;
  height: 300px;
  padding: 20px;
  margin: 10px;
  text-align: center;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-decoration: none;
  color: inherit;
  transition: transform 0.2s;
}

.dashboard-card:hover {
  transform: translateY(-5px);
}

.dashboard-card-content h3 {
  margin: 0;
  margin-bottom: 10px;
}

.dashboard-card-content p {
  margin: 0;
  font-size: 24px;
  font-weight: bold;
}
