.homepage-add-section {
    padding: 20px;
}
.image-preview {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
}

.image-container {
    position: relative;
    width: 100px; /* Ajustez selon vos besoins */
    height: 100px; /* Ajustez selon vos besoins */
}

.image-actions {
    display: flex;
    gap: 5px;
    margin-top: 10px;
}
